@import url("/css/containers.css");
@import url("/css/styles.css");

/*======MEDIAS QUERIES======*/
@media only screen and (max-width: 750px) {
  .form-row2 {
    flex-direction: column;
  }
}
@media only screen and (max-width: 702px) {
  html {
    font-size: 53%;
  }
}

@media only screen and (max-width: 640px) {
  .hero .container {
    flex-direction: column;
    align-items: center;
  }
  .hero .container img {
    order: -1;
    margin-bottom: 20px;
  }
  .form-row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  header .container nav {
    display: none;
  }

  .menu-mobile {
    width: 40px;
    height: 30px;
  }
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 40px;
    margin: 6px auto;
  }
}
